<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EZVoteKickServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EZVoteKickServer.Properties.Settings>
            <setting name="AdministratorsIdentifiers" serializeAs="String">
                <value>fivem:1389754</value>
            </setting>
            <setting name="VoteKickLimitEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoteKickLimitCount" serializeAs="String">
                <value>4</value>
            </setting>
        </EZVoteKickServer.Properties.Settings>
    </applicationSettings>
</configuration>